---
import { getCollection } from 'astro:content'
import { getTagsFromPosts } from '../utils/posts'

const PAGE_SIZE = 10
const posts = (await getCollection('posts')).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
)
const tags = getTagsFromPosts(posts)

const numPages = Math.ceil(posts.length / PAGE_SIZE)
const firstPage = posts.slice(0, 10)
const idx = 0
const props = {
  page: {
    data: firstPage,
    start: idx * PAGE_SIZE,
    end: idx * PAGE_SIZE + PAGE_SIZE - 1,
    size: PAGE_SIZE,
    total: posts.length,
    currentPage: idx + 1,
    lastPage: numPages,
    url: {
      current: '/',
      next: idx === numPages - 1 ? null : `/page/${idx + 2}`,
      prev: null,
    },
  },
}

import CommonLayout from '../layouts/CommonLayout.astro'
import Hero from '../components/Hero.astro'
import A from '../components/A.astro'
import ServerlessHero from '../components/badges/ServerlessHero.astro'
import CertifiedSolutionsArchitect from '../components/badges/CertifiedSolutionsArchitect.astro'
import Mvp from '../components/badges/Mvp.astro'
import CodemotionAmbassador from '../components/badges/CodemotionAmbassador.astro'
import ProjectCard from '../components/ProjectCard.astro'
import BlogCard from '../components/BlogCard.astro'
import Button from '../components/Button.astro'
import NodejsDPPicture from '../assets/nodejs-dp-mockup.png'
import AWSBitesPicture from '../assets/aws-bites-mockup.png'
import FSBPicture from '../assets/fsb-mockup.png'
---

<CommonLayout>
  <Hero />

  <div class="bg-bg-500">
    <div class="mx-auto max-w-screen-xl px-8 py-16">
      <div class="flex flex-wrap justify-center gap-8">
        <ServerlessHero class="h-20 text-text-400" />
        <CertifiedSolutionsArchitect class="h-20 text-text-400" />
        <Mvp class="h-20 text-text-400" />
        <CodemotionAmbassador class="h-20 text-text-400 opacity-85" />
      </div>
    </div>
  </div>

  <div class="bg-bg-500">
    <div class="mx-auto max-w-screen-xl px-8 pb-16 flex justify-center">
      <div class="max-w-[800px]">
        <p class="text-text-500">
          Hello, I am Luciano, a.k.a. <em>loige</em>, a Cloud Architect and a
          Full Stack developer with more than 15 years of experience in the
          field. I work at <strong>FourTheorem</strong> as a <strong
            >Senior Architect</strong
          >. I am passionate about <A href="/tag/node-js">Node.js</A> and <A
            href="/tag/javascript"
          >
            JavaScript
          </A>, <A href="/tag/aws">AWS</A> and <A href="/tag/serverless">
            Serverless
          </A>, and <A href="/tag/rust">Rust</A>. I often <A href="/speaking">
            speak
          </A> at <strong>conferences</strong>, <strong>meetups</strong>, and <strong
            >podcasts</strong
          >. <A href="/about">Do you want to know more?</A>
        </p>
      </div>
    </div>
  </div>

  <div class="bg-bg-500">
    <div class="mx-auto max-w-screen-xl pb-16 px-8">
      <h2 class="text-3xl text-center mb-4">Some of my projects</h2>
      <div
        class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 lg:gap-8"
      >
        <ProjectCard
          href="https://nodejsdesignpatterns.com"
          title="Node.js Design Patterns"
          image={NodejsDPPicture}
          imageAlt="A picture of the cover of the Node.js Design Patterns book"
        >
          The <strong>top-tier book</strong> that will guide you through the design
          and implementation of production-grade
          <strong>Node.js apps</strong> with <strong>tested patterns</strong> and
          <strong>techniques</strong>.
        </ProjectCard>

        <ProjectCard
          href="https://awsbites.com/"
          title="AWS Bites"
          image={AWSBitesPicture}
          imageAlt="The AWS Bites logo on a shaded purple background"
        >
          A weekly <strong>podcast</strong> where we answer interesting questions
          about <strong>AWS</strong> and <strong>Cloud Computing</strong>.
        </ProjectCard>

        <ProjectCard
          href="https://fullstackbulletin.com/"
          title="FullStack Bulletin"
          image={FSBPicture}
          imageAlt="The FullStack Bulletin logo on a shaded yellow background"
        >
          The most awesome <strong>weekly newsletter</strong> about <strong
            >Full Stack Web Development</strong
          >.
        </ProjectCard>
      </div>
    </div>
  </div>

  <div class="bg-bg-500">
    <div class="mx-auto max-w-screen-xl py-8 px-8">
      <h2 class="text-3xl text-center mb-4">Latest from the blog</h2>

      <div
        class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 lg:gap-8"
      >
        {
          props.page.data.map((post, idx) => (
            <BlogCard post={post} isBig={idx === 0}>
              {post.data.description}
            </BlogCard>
          ))
        }
        <div class="bg-bg-200 rounded-lg flex justify-center items-center py-8"
          ><Button href="/blog">Read the blog</Button></div
        >
      </div>
    </div>
  </div>

  <div class="bg-bg-500">
    <div class="mx-auto max-w-screen-xl py-8 px-8">
      <h2 class="text-3xl text-center mb-4">Topics</h2>
      <ul class="flex flex-wrap gap-2">
        {
          tags.slice(0, 20).map((tag) => (
            <li>
              <a
                href={tag.link}
                class="group inline-block bg-bg-300 hover:bg-bg-700 rounded-xl py-2 px-4 text-sm text-500"
              >
                <span class="font-mono">#{tag.name}</span>{' '}
                <span class="ml-2 px-2 bg-bg-500 group-hover:bg-bg-800 group-hover:text-text-100 rounded-xl">
                  {tag.count}
                </span>
              </a>
            </li>
          ))
        }
        <li>
          <a
            href="/tag"
            class="inline-block bg-bg-300 hover:bg-bg-700 rounded-xl py-2 px-4 text-sm text-500"
          >
            All tags
          </a>
        </li>
      </ul>
    </div>
  </div>
</CommonLayout>
