---
import type { CollectionEntry } from 'astro:content'
import { Image } from 'astro:assets'
import CalendarIcon from './icons/CalendarIcon.astro'
import DefaultHeaderImage from '../assets/default-post-header-img.jpg'

type Props = {
  post: CollectionEntry<'posts'>
  isBig?: boolean
}

const { post, isBig } = Astro.props
---

<a
  href={`/${post.slug}`}
  title={post.data.title}
  class={`flex flex-col overflow-hidden rounded-lg transition-all hover:shadow-lg hover:outline outline-4 outline-primary-500 ${
    isBig ? 'col-span-1 md:col-span-2' : ''
  }`}
>
  <Image
    width={400}
    height={224}
    alt={`Cover picture for a blog post titled ${post.data.title}`}
    src={post.data.header_img || DefaultHeaderImage}
    class="h-56 w-full object-cover transition"
  />
  <div class="bg-bg-300 p-4 sm:p-6 flex flex-1 flex-col">
    <h3 class="mt-0.5 text-xl font-bold text-text-500">{post.data.title}</h3>
    <p
      class="mt-2 text-sm/relaxed text-text-400 line-clamp-3 text-ellipsis mb-auto"
    >
      {post.data.description || post.body.slice(0, 200)}
    </p>
    <p class="text-text-300 text-sm/relaxed mt-2">
      <span class="inline-flex self-center gap-2">
        <CalendarIcon class="h-4 w-4" />
        <time
          title={post.data.date.toISOString()}
          datetime={post.data.date.toISOString()}
          >{post.data.date.toISOString().substring(0, 10)}</time
        >
      </span>
    </p>
  </div>
</a>
