<div class="vertical">
    <div class="main-header-content inner">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
        <h1 class="page-title"><a href="/" title="{{@blog.title}}">{{@blog.title}}</a></h1>
        <h2 class="page-description">Luciano Mammino<br/><small>{{@blog.description}}</small></h2>
    </div>
</div>